{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}
<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar"><img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}"></div>
  <div class="author__content"><h3 class="author__name">{{ author.name }}</h3>{% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}</div>
  <div class="author__urls-wrapper"><ul class="author__urls social-icons">
    <li><a href="{{ author.uri }}">Website</a></li>
    <li><a href="https://www.albany.edu/faculty/mchang2/">Previous UAlbany webpage</a></li>
    <li><a href="https://ua-cvml.github.io/">CVML Lab</a></li>
    <li><a href="mailto:{{ author.email }}">Email</a></li>
    <li><a href="{{ '/CV_Ming-Ching_Chang.pdf' | relative_url }}">CV PDF</a></li>
    <li><a href="https://scholar.google.com/citations?user=a3-Gl8YAAAAJ&hl=en">Google Scholar</a></li>
    <li><a href="https://dblp.org/pid/21/4361.html">DBLP</a></li>
    <li><a href="https://www.linkedin.com/in/mingchingchang">LinkedIn</a></li>
    <li><a href="https://github.com/mingching">GitHub</a></li>
    <li><a href="https://www.researchgate.net/profile/Ming-Ching-Chang">ResearchGate</a></li>
    <li><a href="https://orcid.org/0000-0001-9325-5341">ORCID</a></li>
  </ul></div>
</div>
